<h1 class="text-center">Xoá</h1>
<div class="form p-5">
    <div class="mb-3">
        <label for="">name</label>
        <input type="text" class="form-control" ng-model="data.name" readonly>
    </div>
    <div class="mb-3">
        <label for="">Email</label>
        <input type="text" class="form-control" ng-model="data.email" readonly>
    </div>
    <div class="mb-3">
        <label for="">Date</label>
        <input type="text" class="form-control" ng-model="data.date" readonly>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" ng-click="submit()">Xoá</button>
        <a href="#!/list"><button class="btn btn-danger">Quay lại</button></a>
    </div>
</div>