<div class="container">
    <h1>Sửa user</h1>
    <div>
        <label for="">Tên người dùng</label>
        <input type="text" class="form-control " ng-model="data.name">
    </div>
    <div>
        <label for="">Mật khẩu</label>
        <input type="password" class="form-control " ng-model="data.password">
    </div>
    <div>
        <label for="">Email</label>
        <input type="text" class="form-control " ng-model="data.email">
    </div>
    <div>
        <label for="">Chức năng</label>
        <select name="" id="" ng-model="data.chuc_nang" class="form-select ">
            <option value="1">Giám đốc</option>
            <option value="2">Nhân viên</option>
            <option value="3">Khách hàng</option>
        </select>
    </div>
    <div>
        <label for="">Số điện thoại</label>
        <input type="text" class="form-control " ng-model="data.phone">
    </div>
    <div class="text-center ">
        <button class="btn btn-success " ng-click="update()">Sửa</button>
        <a class="btn btn-warning " href="#/list-user">Quay lại</a>
    </div>
</div>