<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="myApp">
    <div ng-controller="parent">
        <div ng-controller="myController">
            A: <input type="text" ng-model="$parent.soA"><br>
            B: <input type="text" ng-model="$parent.soB"><br>
            <button ng-click="tinh()">Tính A + B</button>
        </div>
        <div ng-controller="myController1">
            <p>Kết quả: <span> {{ $parent.ketQua }}</span></p>
        </div>
    </div>
    

    <script src="../lib/angular.min.js"></script>
    <script src="index.js"></script>
</body>
</html>