<div class="container d-flex justify-content-between px-5 py-4 border-1 border-top border-black  ">
     <div>
          <h3 class="fw-bold">Organic.</h3>
          <p>400 University Drive Suite 200 Coral Gables,<br>
               FL 33134 USA</p>
     </div>
     <div class="footer">
          <ul class="nav flex-column text-center">
               <h4>Links</h4>
               <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
               </li>
          </ul>
     </div>
     <div class="footer">
          <ul class="nav flex-column text-center ">
               <h4>Help</h4>
               <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
               </li>
               <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
               </li>
          </ul>
     </div>
     <div class="footer">
          <h4>Newsletter</h4>
          <div class="formft">
               <input type="email" class="border-0 border-bottom border-black" id="emailft"
                    placeholder="name@example.com">
               <input type="submit" class="border-0 border-bottom border-black" id="btnEmail">
          </div>
     </div>
</div>
<div class=" border-top border-black m-3">
     <p class="py-3 px-2">2023 furino. All rights reverved</p>
</div>