.information{
    border: 1px solid black;
    padding: 40px;
}

.confirm button{
    margin-top: 40px;
    color: white;
    background-color: red;
    border-radius: 5px;
}

.success{
    width: 90%;
    margin: 50px auto;
}

.success h4{
    font-size: 30px;
    padding: 10px 40px;
}

.success__content{
    text-align: center;
    margin-top: 40px;
}

.success__content img{
    margin-bottom: 20px;
}

.between{
    padding: 10px 0;
}