.container{
    max-width: 12000px;
    margin: 0 auto;
}
.td{
    color: blue;
    font-weight: bold;
}
image{
    width: 200px;
    height: 150px;
}
td:nth-child(1){
    width: 20%;
}
td:nth-child(2){
    width: 70%;
}