<h1 class="text-danger text-center">Thêm mới</h1>
<div class="form p-5 mt-2">
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Tên sản phẩm</label>
        <input type="text" class="form-control" id="formGroupExampleInput" ng-model="data.name">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Ảnh sản phẩm</label>
        <input type="text" class="form-control" id="formGroupExampleInput" ng-model="data.image">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Giá sản phẩm</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" ng-model="data.price">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Mô tả</label>
        <textarea type="text" class="form-control" id="formGroupExampleInput2" rows="3" ng-model="data.mota"></textarea>
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Danh mục</label>
        <select class="form-select justify-content-end" ng-model="data.iddm">
            <option value=""hidden>Tất cả</option>
            <option value="{{ value.id }}" ng-repeat="(index, value) in listDM "><span>{{ value.name }}</span></option>
        </select>
    </div>
    <div class="mb-3">
       <button class="btn btn-primary " ng-click="update()">Chỉnh sửa</button> 
       <button class="btn btn-secondary " ng-click="huy()">Huỷ</button>
    </div>
</div>
