<nav class="navbar-expand">
     <div class="container">
          <div class="row d-flex justify-content-start">
               <div class="col-4 g-0">
                    <select class="form-select" aria-label="Default select example">
                         <option selected>Danh sách danh mục</option>
                         <option ng-click="locDanhMuc(item.id)" ng-repeat="item in danhSachDanhMuc">{{ item.ten }}
                         </option>
                    </select>
               </div>
               <div class="col-6 g-0">
                    <div class="d-flex" role="search">
                         <input class="form-control me-2" type="search" placeholder="Tìm kiếm" aria-label="Search"
                              ng-model="searchKeyword">
                         <button class="btn btn-outline-success" type="button" ng-click="search()"><i
                                   class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
               </div>

               <div class="col-2">
                    <ul class="navbar-nav">

                         <li class="nav-item mx-2"><a class="nav-link" href="#"><i
                                        class="fa-solid fa-heart fa-xl"></i></a>
                         </li>
                         <li class="nav-item">
                              <a class="btn position-relative" href="./shop_cart.html">
                                   <i href="./shop_cart.html" class="fa-solid fa-cart-shopping fa-xl"></i>
                                   <span class="badge bg-danger rounded-pill position-absolute"
                                        style="top: -6px; right: -14px">99</span>
                              </a>
                         </li>
                    </ul>
               </div>

          </div>
     </div>
</nav>
<nav class="container mt-3" aria-label="breadcrumb">
     <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html"><i class="fa-solid fa-house"></i></a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop</li>
     </ol>
</nav>
<div class="container">
     <div class="m-2">
          <h1>Sản phẩm</h1>
     </div>
     <div class="row my-3">
          <div class="col-9">
               <div class="row text-center">
                    <div class="col-4" ng-repeat="item in filteredProducts()">
                         <div class="border rounded overflow-hidden mt-3 mb-3 ">
                              <div class="d-flex justify-content-center align-items-center bg-light product">
                                   <a href="#!product-detail/{{ item.id }}"><img class="mh-100 mw-100"
                                             ng-src="{{ item.anh }}" alt=""></a>
                              </div>
                              <div class="m-2">
                                   <h1 class="h6 name-pr">{{ item.ten }}</h1>
                                   <div class="d-flex justify-content-between m-1">
                                        <del class="text-decoration-line-through">{{ item.giaNiemYet }}</del>
                                        <div class="h6 text-danger">{{ item.giaBan }}</div>

                                   </div>
                                   <div class="d-flex justify-content-around ">
                                        <a href="./checkout.html" type="submit"
                                             class="btn btn-danger w-100 rounded-pill ">Mua
                                             ngay</a>
                                        <a type="submit" ng-click="addToCart(item)"
                                             class="btn btn-success rounded-pill ms-2"> <i
                                                  class="fa-solid fa-cart-shopping fa-xl"></i></a>
                                   </div>
                              </div>
                         </div>
                    </div>

                    <div>
                         <!-- Đoạn mã HTML để hiển thị phân trang -->
                         <nav aria-label="Page navigation example">
                              <ul class="pagination justify-content-end">
                                   <li class="page-item" ng-class="{disabled: currentPage === 1}">
                                        <a class="page-link" aria-label="Previous" ng-click="prevPage()">
                                             <span aria-hidden="true">&laquo;</span>
                                        </a>
                                   </li>
                                   <li class="page-item" ng-repeat="page in pages"
                                        ng-class="{active: page === currentPage}">
                                        <a class="page-link" ng-click="setPage(page)">{{ page }}</a>
                                   </li>
                                   <li class="page-item" ng-class="{disabled: currentPage === totalPages}">
                                        <a class="page-link" aria-label="Next" ng-click="nextPage()">
                                             <span aria-hidden="true">&raquo;</span>
                                        </a>
                                   </li>
                              </ul>
                         </nav>
                    </div>
               </div>
          </div>
          <div class="col-3 my-3">
               <div class="row mb-3">
                    <div class="list-group">
                         <a type="button" class="list-group-item list-group-item-action active" ng-click="locDanhMuc()"
                              aria-current="true">
                              Danh Mục Sản Phẩm
                         </a>
                         <a type="button" ng-click="locDanhMuc(item.id)" ng-repeat="item in danhSachDanhMuc"
                              class="list-group-item list-group-item-action">{{ item.ten }}</a>
                    </div>
               </div>
               <div class="row">
                    <div class="list-group">
                         <a class="list-group-item list-group-item-action active" aria-current="true">
                              Sản Phẩm Nổi Bật
                         </a>
                         <a ng-repeat="item in danhSachSanPham | limitTo : 5" href="#!product-detail/{{ item.id }}"
                              class="list-group-item list-group-item-action">{{ item.ten }}</a>
                    </div>
               </div>
          </div>
     </div>
</div>